html, body{
    background-color: #F8F6F4;
    height: 100%;
}

.card{
    background-color: #F8F6F4;
    border-color: black;
    border-width: 0.2em;
    border-radius: 0.3em;
}

.card:hover{
    background-color: #c9c8c7;
}

.scroll-column {
    height: 100vh; 
    overflow-y: auto;
}

#scroll{
    --bs-gutter-x : 0 !important; 
}