#crearUsuario:hover {
    background-color: rgb(125, 162, 163);
}

#compartirUsuario:hover {
    background-color: rgb(120, 212, 145);
}

a {
    text-decoration: none;
    color: black;
}

.cont-manage {
    border-color: black;
    border-width: 0.2em;
    border-radius: 0.3em;
}

.manage-btn-group {
    border-radius: 10px 10px 0 0 !important;
    overflow: hidden;
    border-color: black !important;
    border: 0.1em solid black;
    border-bottom: 0 !important;
}

.manage-btn-group .btn {
    border-radius: 0 !important;
}

.finale{
    height: 1em;
}