@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        background-color: gainsboro;
        color: black;
        text-decoration: none;
    }

    .main-container {
        flex-direction: column;
        gap: 1rem;
    }

    .main-content {
        margin-left: 0;
        padding: 1rem;
    }

    .list-group-item {
        width: 100%;
        margin-bottom: 1rem;
    }

    .d-flex.align-items-center {
        flex-direction: column;
        gap: 1rem;
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .dropdown-menu {
        position: static;
    }
    .tarjeta-diario{
        padding: 1em;
        gap: 1rem;
        margin-bottom: 5rem;
        border: 1px rgba(0, 0, 0, 0.275) solid;
        border-radius: 15px;
    }
    a{
        text-decoration: none;
    }
    .nav-link{
        color: black;
    }
    .img-registro img{
        max-width: 100px;
        max-height: 100px;
    }
}
/* Ajustes para pantallas más grandes */
@media (min-width: 769px) {
    .sidebar {
        width: 200px; /* Ancho del sidebar */
        left: 0; /* Lo coloca a la izquierda */
        padding-top: 200px; /* Espacio superior (ajusta según tu diseño) */
        background-color: gainsboro; /* Color de fondo */
        overflow-y: auto; /* Permite scroll dentro del sidebar si el contenido es muy largo */
        text-decoration: none;
       
    }

    .main-content {
        margin-left: 1rem; /* Ajusta el margen para que no se superponga con la barra lateral */
        margin-right: 1rem;
    }
    .tarjeta-diario{
        padding: 1em;
        margin-bottom: 1em;
        gap: 10rem;
        border: 1px rgba(0, 0, 0, 0.275) solid;
        border-radius: 15px;
    }
    .nav-link{
        color: black;
    }
    .img-registro img{
        max-width: 100px;
        max-height: 100px;
    }

}
