@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .main-container {
        flex-direction: column;
        gap: 1rem;
    }

    .main-content {
        margin-left: 0;
        padding: 1rem;
    }

    .list-group-item {
        width: 100%;
        margin-bottom: 1rem;
    }

    .d-flex.align-items-center {
        flex-direction: column;
        gap: 1rem;
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .dropdown-menu {
        position: static;
    }
    .tarjeta-diario{
        padding: 1em;
        gap: 1rem;
        margin-bottom: 5rem;
        border: 1px rgba(0, 0, 0, 0.275) solid;
        border-radius: 15px;
    }
    a{
        text-decoration: none;
    }
    .nav-link{
        color: black;
    }
    .img-registro img{
        max-width: 100px;
        max-height: 100px;
    }
}
/* Ajustes para pantallas más grandes */
@media (min-width: 769px) {
    .sidebar {
        width: 15%;
        left: 0;
        top: 0;
        height: 100vh;
        position: fixed;
        padding-top: 20%;
        overflow-y: auto;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .main-container {
        margin-left: 20%; /* Ajusta para evitar que el contenido se superponga */
        width: 80%; /* Evita que el contenido se superponga a la sidebar */
    }

    .navbar {
        z-index: 1050; /* Asegura que la navbar esté por encima de todo */
        position: fixed;
        width: 100%;
    }
    .margen{
        margin-top: 8%;
    }
    .tarjeta-diario{
        padding: 1em;
        margin-bottom: 1em;
        gap: 10rem;
        border: 1px rgba(0, 0, 0, 0.275) solid;
        border-radius: 15px;
    }

    .img-registro img{
        max-width: 100px;
        max-height: 100px;
    }

}
